.slide-right-enter-active {
  animation: slideInRight 0.5s;
}
.slide-right-leave-active {
  animation: slideoutLeft 0.5s;
}
.slide-left-enter-active {
  animation: slideInLeft 0.5s;
}
.slide-left-leave-active {
  animation: slideOutRight 0.5s;
}
