/* variables */
:root {
  /* Dark */
  --color-bg-dark: rgba(0, 0, 0, 1);
  --color-text-dark: rgba(F, F, F, 1);
  /* Light */
  --color-bg-light: rgba(F, F, F, 1);
  --color-text-light: rgba(0, 0, 0, 1);
}

#app {
  width: 100vw;
  height: 100vh;
}

.lightTheme {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

.darkTheme {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}
