:root {
  /***************** COLORS *****************/
  /* COLORS PALETTE */
  --color-cinza-escuro: #202022;
  --color-cinza-claro: #878787;
  --color-azul-fosco: #00747c;
  --color-azul-brilhante: #00bbc9;
  --color-branco: #dbdbdb;

  --color-cinza-escuro-50: rgb(32, 32, 34, 0.5);
  --color-branco-50: rgb(219, 219, 219, 0.5);

  /* LIGHT COLORS */
  --bg-light: var(--color-branco); /* bg */
  --bg-secondary-light: var(--color-branco); /*bg icone (ambos) */
  --color-light: var(--color-azul-brilhante); /* cor icone outro botao */
  --color-primary-light: var(--color-azul-fosco); /* cor botao */
  --color-secondary-light: var(--color-branco); /* nada */
  --border-color-light: var(--color-cinza-claro); /* borda outra */

  /* DARK COLORS */
  --bg-dark: var(--color-cinza-escuro);
  --bg-secondary-dark: var(--color-cinza-escuro);
  --color-dark: var(--color-azul-brilhante);
  --color-primary-dark: var(--color-fosco);
  --color-secondary-dark: var(--color-branco);
  --border-color-dark: var(--color-cinza-claro);
}

/************ LIGHT THEME ***********************/

.light-mode {
  --bg: var(--bg-light);
  --bg-secondary: var(--bg-secondary-light);
  --color: var(--color-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --border-color: var(--border-color-light);
  --first-name-color: var(--color-cinza-claro);
  --last-name-color: var(--color-cinza-escuro);
  --footer-color: var(--color-cinza-escuro-50);
}

/*************** DARK THEME *********************/

.dark-mode {
  --bg: var(--bg-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --color: var(--color-dark);
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --border-color: var(--border-color-dark);
  --first-name-color: var(--color-cinza-claro);
  --last-name-color: var(--color-branco);
  --footer-color: var(--color-branco-50);
}

/******************** BODY *********************/

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

.a {
  color: var(--color-azul-fosco) !important;
  font-size: 1.3rem;
  font-family: 'JetBrains Mono', monospace;
  text-decoration: none !important;
  font-weight: 200;
}

.a:hover {
  color: var(--color-azul-brilhante) !important;
  font-weight: 400;
}

#footer {
  color: var(--footer-color);
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.6rem;
}
